services:
  - type: web
    name: website-kampus
    env: php
    buildCommand: |
      composer install --no-dev --no-scripts
      php artisan key:generate
      npm ci
      npm run build
    startCommand: php artisan serve --host=0.0.0.0 --port=10000
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: sqlite
      - key: DB_DATABASE
        value: /tmp/database.sqlite